.footer {
  background-color: #594F21;
  width: 100vw;
  height: 11vh;
  padding-left: 32vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-button {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 5px;
}
.footer-page {
  width: 100%;
  font-size: 1.3em;
}
.copywriter {
  color: black;
  font-size: 15px;
  text-align: end;
  white-space: nowrap;
  margin: 0 5px 3px 0;
}
