* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 15vh;
  padding: 1vh 4vw;
  display: flex;
  flex-direction: column;
  background-color: #594F21;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo-form {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.BeeYourBest-icon {
  display: block;
  width: 40%;
  min-width :180px;
}
.BeeYourBestBee-icon{
  width: 100%;
}

/* 検索form */
.header-form{
  width: 50%;
}
.search_container{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 1px;
  margin-bottom: 1vh;
  border-radius: 20px;
  height: 2.2em;
  min-width :173px;
  overflow: hidden;
  background: #FCF8E6;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: #FCF8E6;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #594F21;
  position: absolute;
  height: 2.5em;
  right: 20px;
  top: -8px;
  padding-left: 2px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: #594F21;
}
/* 検索form */

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}




/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 1.0rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #473300;
  border-radius: 0.5rem;
  margin-bottom: 7px;
}

a.btn-border-shadow--radius {
  border-radius: 100vh;
}
a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #FDCE00;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #473300;
  border-radius: 0.5rem;
}

a.btn-border-shadow--radius:before {
  border-radius: 100vh;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}