* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 15vh;
  padding: 1vh 4vw;
  display: flex;
  flex-direction: column;
  background-color: #594F21;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-form {
  width: 50%;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.BeeYourBest-icon {
  display: block;
  width: 40%;
  min-width :180px;
}
.BeeYourBestBee-icon{
  width: 100%;
}

/* 検索form */
/* .header-form{
  width: 50%;
}
.search_container{
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 1px;
  margin-bottom: 1vh;
  border-radius: 20px;
  height: 2.2em;
  min-width :173px;
  overflow: hidden;
  background: #FCF8E6;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: #FCF8E6;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #594F21;
  position: absolute;
  height: 2.5em;
  right: 20px;
  top: -8px;
  padding-left: 2px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: #594F21;
} */
/* 検索form */



/* チェックボックスの非表示 */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 98;
  cursor: pointer;
  
}
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 15px;
  width: 60px;
  border-radius: 3px;
  background: #FDCE00;
  transition: 0.5s;
  position: absolute;
}
input[type=checkbox]:checked + .drawer-open span {
  background: #B19000;
  }
input[type=checkbox]:checked + .drawer-open span:before {
  background: #B19000;
  }
input[type=checkbox]:checked + .drawer-open span:after {
  background: #B19000;
  }
/* 一番上の棒 */
.drawer-open span:before {
  bottom: 18px;
  width: 70px;
  right: 0;
}
/* 一番下の棒 */
.drawer-open span:after {
  top: 18px;
  width: 50px;
  left: 10px;
}
/* メニューのデザイン*/
.drawer-content {
  width: 20%;
  height: 33.5%;
  position: fixed;
  top: 17%;
  left: 110%;/* メニューを画面外へ */
  z-index: 100;
  background: #594F21;
  transition: .5s;
  padding: 1%;
  box-shadow: 0px 0px 0px 10px #594F21;
  border: 2px dashed #FDCE00;
  border-radius: 20px;
  white-space: nowrap;
}

#drawer-check:checked ~ .drawer-content {
  top: 17%;
  left: 79%;/* メニューを画面内へ */
}
/* メニューを閉じるための要素のデザイン*/
.drawer-close {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* 閉じるための要素を画面外へ */
  z-index: 99;
  transition: .5s;
}
#drawer-check:checked ~ .drawer-close {
  left: 0;/* 閉じるための要素を画面内へ */
}
.drawer-item {
  text-align: end;
  margin-bottom: 20px;
}