.main-goal {
  position: relative;
}

.left-goal {
  position: absolute;
  width: 30vw;
  height: 85vh;
  z-index: 50;
}

.left-absolute {
  position: absolute;
  width: 30vw;
  height: 85vh;
  z-index: 51;
}
.left-size {
  width: 80%;
  height: 100%;
  padding: 5% 0;
  margin-left: 5%;
  position: relative;
}
.left-triangle {
  position: absolute;
  top: 37vh;
  left: -15px;
  font-size: 1.2em;
}
.right-triangle {
  position: absolute;
  top: 37vh;
  right: -15px;
  font-size: 1.2em;
}

.left-box {
  font-family: "M PLUS Rounded 1c";
  font-weight: bold;
  font-size: 2.4em;
  padding: 1em;
  color: #FCF8E6;
  background: #594F21;
  box-shadow: 0px 0px 0px 10px #594F21;
  border: 2px dashed #FDCE00;
  border-radius: 20px;
  margin: 15% 5%;
  white-space: nowrap;
  animation: left-box .6s ease infinite alternate;
  }
.left-box :nth-child(2) {
  text-align: end;
}
@keyframes left-box {
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

.right-goal {
  width: 100vw;
  height: 74vh;
  padding-left: 25vw;
}

/* グラフなどの調整 */
.mygoal-field {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
  overflow-x: auto;
  white-space: nowrap;
}
.goal-card {
  padding-left: 2px;
  margin: 0 10px;
}
.goal-card > span {
  font-size: 1.1em;
  border-bottom: 3px solid #594F21;
  white-space: normal;
}
.limit > span {
  font-size: 1.1em;
}
.counter2 {
  height: 1.5em;
  font-family: "M PLUS Rounded 1c";
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-top: 1px;
}
.bou-index-field {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.bou-index-field:hover {
  transform: scale(1.05, 1.05);
}

.bou-goal-field2 {
  width: 60%;
  position: relative;
  padding: 2%;
}
.bou-index {
  width: 100%;
  height: 350px;
  border: 10px solid #594F21;
  border-radius: 10px;
}
.achievement {
  text-align: center;
}
.achievement > span {
  font-size: 2em;
}

.goal-index-btn {
  text-align: center;
  font-size: 0.8em;
}
span > .task-submit {
  background-color: red;
}

.allgoal-field {
  padding-left: 5vw;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
}
.allgoal-card {
  padding-left: 2px;
  margin: 10px;
  width: 300px;
}
.allgoal-card > span {
  font-size: 1.1em;
  border-bottom: 3px solid #594F21;
  white-space: normal;
}
.allbou-index {
  width: 100%;
  height: 280px;
  border: 10px solid #594F21;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.goal-user-tag {
  text-align: center;
  height: 4.5em;
}
.goal-user-name {
  display: flex;
  justify-content: center;
}
.user-tag-name {
  white-space: normal;
}
.user-tag {
  display: inline;
  border: 1px solid #594F21;
}
.goal-index-path {
  color: #594F21;
  text-decoration: none;
}