.task-form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form-task-left {
  width: 30%;
}
.form-task-middle {
  width: 30%;
}
.form-task-right {
  width: 20%;
  position: relative;
  padding: 2%;
}

/* タスク関係 */
.task-submit {
  font-size: 1.2em;
  width: 4em;
  height: 2em;
  margin-left: 5px;
  color: #594F21;
  background-color: #FDCE00;
  border: 3px solid #594F21;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 0.3em;
  text-decoration: none;
}
.task-submit:hover{
  opacity: 0.5;
}
.task-field {
  color: #FCF8E6;
  padding: 0 2%;
  font-size: 1.5em;
  border: 5px solid #594F21;
  border-radius: 10px;
  background-color: #594F21;
  text-align: center;
}
.task-main-todo {
  font-size: 1.5em;
}
.task-content {
  color: #594F21;
  margin: 20px 0;
  background-color: #FCF8E6;
  box-shadow: 4px 4px 2px black;
}
.task-delete {
  text-align: right;
  font-size: 0.8em;
}
.form-bottom-top {
  margin: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 吹き出し */
.balloon2 {
  position: relative;
  display: inline-block;
  margin: 3em 1em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #594F21;
  font-size: 16px;
  border: solid 3px #594F21;
  border-radius: 10px;
  box-sizing: border-box;
}
.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: 92px;
  border: 12px solid transparent;
  border-top: 12px solid #FCF8E6;
  z-index: 2;
}
.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: 90px;
  border: 14px solid transparent;
  border-top: 14px solid #594F21;
  z-index: 1;
}
.balloon2 p {
  margin: 0;
  padding: 0;
}
.Bee-icon-right {
  text-align: end;
}
.Bee-icon {
  width: 100px;
  text-align: end;
}