<div class="main-goal">
  <div class="left-goal">

  </div>
  <div class="test2">
    <div class="test3">
    </div>
    <div class="test4">
      <%= link_to '100%の目標', "#", class:"btn btn-border-shadow btn-border-shadow--radius" %>
    </div>
  </div>
</div>

