<div class="main-goal">
  <div class="left-goal">
    <div class="left-size">
      <div class="left-box">
        <p>みんなと</p>
        <p>頑張る</p>
        <p>応援サイト</p>
      </div>
      <%= link_to '今すぐ始める！　　>', "#", class:"btn btn-flat" %>
    </div>
  </div>
  <div class="right-goal">
  </div>
</div>


