// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  background-color: aqua;
}

.test {
  background-color: blue;
  width: 50vw;
  height: 50vh;
}