.form-wrap-mini {
  width: 50%;
  height: 50vh;
  margin-top: 5vh;
  padding-bottom: 20px;
  background-color: #FCF8E6;
  opacity: 0.85;
  box-shadow: 6px 6px 4px #594F21;
  margin-bottom: 30px;
}
.form-group-mini {
  width: 15em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
.form-bottom-mini {
  margin-top: 5vh;
  margin: 6vh 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}